<!DOCTYPE html>
<html lang="en" class="container mt-4">
  <head>
    <meta charset="UTF-8" />
    <title>Toggling Computed Classes</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" />
  </head>
  <body>
    <div id="app">
      <nav class="navbar navbar-light fixed-top">
        <div class="navbar-text ml-auto d-flex">
          <button class="btn btn-sm btn-outline-success" @click="sliderStatus = !sliderStatus">
            <i class="fas fa-dollar-sign"></i>
          </button>
          <div class="ml-2" v-if="cart.length > 0">
            <b>cart:</b>
            <span class="badge badge-pill badge-success">{{cart.length}}</span>
          </div>
        </div>
      </nav>

      <h1>My Shop</h1>
      <div class="align-items-center" :class="sliderState">
        <label :class="labelArr" for="formMax">max</label>
        <input
          type="text"
          id="formMax"
          class="form-control mx-2"
          :style="{'width': inputWidth + 'px', textAlign:'center'}"
          v-model="maximum"
        />
        <input type="range" class="custom-range" min="0" max="200" v-model="maximum" />
      </div>

      <div class="row d-flex mb-3 align-items-center" v-for="item in products" v-if="item.price<=Number(maximum)">
        <div class="col-1 m-auto">
          <button class="btn btn-info" v-on:click="addItem(item)">+</button>
        </div>
        <div class="col-4">
          <img class="img-fluid d-block" :src="item.image" :alt="item.name" />
        </div>
        <div class="col">
          <h3 class="text-info">{{ item.name }}</h3>
          <p class="mb-0">{{ item.description }}</p>
          <div class="h5 float-right">${{ Number(item.price) }}</div>
        </div>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <script>
      var app = new Vue({
        el: '#app',
        data: {
          inputWidth: 60,
          sliderStatus: false,
          labelArr: ['font-weight-bold', 'mr-2'],
          maximum: 99,
          products: null,
          cart: [],
        },
        computed: {
          sliderState: function () {
            return this.sliderStatus ? 'd-flex' : 'd-none'
          },
        },
        methods: {
          addItem: function (product) {
            this.cart.push(product)
          },
        },
        mounted: function () {
          fetch('https://hplussport.com/api/products/order/price')
            .then((response) => response.json())
            .then((data) => {
              this.products = data
            })
        },
      })
    </script>
  </body>
</html>
